
html {
    font-size: 17px;
  }
  @media (max-width: 900px) {
    html { font-size: 15px; }
  }
  @media (max-width: 650px) {
    html { font-size: 10px; }
  }
@media screen and (max-width: 500px) {
  html { font-size: 9px; }
  .page-container{
    display: flex;
    flex-direction: column;
  }
  .page-container .left, .page-container .right{
    width: 100%;
  }
}
.page-container{
    height: 100vh;
    width: 100vw;
    background-color: blue;
    padding: 2rem;
   
}
.left{
    background-color: aqua;
    width: 50%;
    height: 90vh;
    float: left;
    border-radius: 1rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     
   
}

.right{
    background-color: rgb(51, 51, 73);
    width: 50%;
    height: 90vh;
    float: right;
}

