
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200&display=swap');
.project{
    margin: 2rem 9rem 3rem 9rem;
    > .p1 , .p2, .p3 ,.p4{
       display: flex;
       flex-direction: column;
       margin-top: 2rem;
      > .poster{
        width: fit-content;
       
      }
       >.more-btn {
          text-decoration: none;
        background-color: aquamarine;
          width: 4rem;
          margin-top: 1rem;
        > button{
           
            width: 5.2rem;
            height: 2rem;
            border: 1px solid black;
            border-radius: 3px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            cursor: pointer;
          
           
          &:hover{
            background-color: rgb(218, 218, 218);
          }
            
       }
       }
        > a img{
            width: 35rem;
            border-radius: 1rem;
           margin-top: 1rem;
           transition: all .5s ease;
           cursor: pointer;
           &:hover{
            transform: scale(1.09);
           }
        }
        > .heading{
       
          width: fit-content;
          > p{
            color: #2f58d1;
            font-size: 1.6rem;
            font-family: 'Times New Roman', Times, serif;
        }
        }
        > p {
            line-height: 1.2;
            font-weight: 500;
              font-size: 1.093rem;
              color: rgb(0, 0, 0);
              font-family: 'Roboto Flex', sans-serif;
        }
       
    }
}
@media screen and (max-width: 1020px) {
    .project{
        margin: 2rem 5rem 3rem 5rem;
      >  .p1 , .p2, .p3 ,.p4{
        >a img{
            width: 30rem;
        }
      
      }
    }
}
@media screen and (max-width: 700px){
    .project{
        margin: 2rem 1rem 2rem 1rem;
      >  .p1 , .p2, .p3 ,.p4{
         >.heading p{
          font-size: 1.4rem;
      }
        > p{
           
            font-size: .9rem;
        }
     
        >a img{
            width: 19rem;
        }
       > .more-btn {
        > button{
            width: 4.2rem;
            height: 1.73rem;
        }
       }
      }
    }
}
@media screen and (max-width: 560px){
    .project{
        margin: 2rem 1rem 2rem 1rem;
      >  .p1 , .p2, .p3 ,.p4{
        >.heading p{
          font-size: 1.1rem;
      }
        > p{
           
            font-size: .8rem;
        }
     
        >a img{
            width: 17rem;
        }
        
      }
    }
}